* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background: #282D35;
    background-image: url("/public/reactjs-icon2.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-y:78%;
    background-size: 230px;
}

