.header {
    height: 91px;
    background: #21222A;
    display: flex;
    align-items: center;
    padding: 30px;
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.react-logo {
    width: 50px;
    margin-right: 10px;
}

.react-logo-side-heading3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 27px;
    color: #61DAFB;
    margin: 0px;
    margin-right: auto;
}

.react-logo-side-heading4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 19px;
    text-align: right;
    color: #DEEBF8;

}