.main{
    margin-top: 180px;
    margin-left: 90px;
}

.heading1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 47px;
    letter-spacing: -0.05em;
    color: #FFFFFF;

}

.ulContainer {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 19px;
    color: #FFFFFF;
}

.li{
    margin-bottom: 20px;
    list-style: none;
    align-items: center;
}

li::before {
  content: "• ";
  color: #61DAFB;
  font-size: 29px;
}